@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  --main-color: #3b5d50;
  --main-light: #3b5d50;
  --main-dark: #2f2f2f;
  --primary-color: #ffffff;
  --color-yellow: #f9bf29;
  --disc-color: #6a6a6a;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 28px;
  color: #6a6a6a;
  font-size: 14px;
  background-color: #eff2f1;
}

p {
  color: var(--disc-color);
}

nav.custom-navbar.navbar.navbar-expand-md.navbar-dark {
  padding-top: 20px;
  padding-bottom: 20px;
}
.navbar-brand {
  font-size: 32px;
  font-weight: 600;
}
.navbar-brand > span {
  opacity: 0.4;
}
.navbar {
  background-color: var(--main-color);
}
a {
  color: var(--primary-color);
  text-decoration: none;
}
a:hover {
  color: var(--primary-color);
  text-decoration: none;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.text-main-dark{
  color: var(--main-dark);
}

.custom-navbar-nav .nav-item a {
  opacity: 0.5;
  color: var(--primary-color);
  font-weight: 500;
}
.custom-navbar-nav .nav-item.active a {
  color: var(--primary-color);
  font-weight: 500;
  opacity: 1;
}
.custom-navbar-nav .nav-item a:hover {
  opacity: 1;
  transition: all 0.15s linear;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -ms-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
}

.custom-navbar .navbar-toggler:active,
.custom-navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
}

.custom-navbar {
  margin-left: 0 !important;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.custom-navbar li:last-child img {
  margin: 0 0 0 10px;
}

.custom-navbar-cta li:first-child {
  margin-right: 6px;
}

/* Media Queries  */
@media (max-width: 767px) {
  .custom-navbar .custom-navbar-cta {
    margin-left: 0 !important;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }
}

@media (min-width: 768px) {
  .custom-navbar-nav li.nav-item {
    position: relative;
  }

  .custom-navbar-nav li a.nav-link:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 8px;
    right: 8px;
    background: var(--color-yellow);
    height: 5px;
    opacity: 1;
    visibility: visible;
    width: 0;
    -webkit-transition: 0.15s all ease-out;
    -o-transition: 0.15s all ease-out;
    transition: 0.15s all ease-out;
  }
  .custom-navbar-nav li a:hover {
    opacity: 1;
  }
  .custom-navbar-nav li a:hover:before {
    width: calc(100% - 16px);
  }
  .custom-navbar-nav li.active a {
    opacity: 1;
  }
  .custom-navbar-nav li.active a:before {
    width: calc(100% - 16px);
  }
}

@media (min-width: 992px) {
  .custom-navbar-nav li {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (min-width: 1400px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl,
  .container-xxl {
    max-width: 1320px;
  }
}

/*  btn variables */
.btn {
  font-weight: 600;
  padding: 12px 30px;
  border-radius: 30px;
  color: #ffffff;
  background: #2f2f2f;
  border-color: #2f2f2f;
}
.btn:hover {
  color: #ffffff;
  background: #222222;
  border-color: #222222;
}
.btn:active,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn.btn-primary {
  background: #3b5d50;
  border-color: #3b5d50;
}
.btn.btn-primary:hover {
  background: #314d43;
  border-color: #314d43;
}
.btn.btn-secondary {
  padding: 12px 30px;
  border-radius: 30px;
  background: var(--color-yellow);
  color: var(--main-dark);
  font-weight: 600;
  border-color: #f8b810;
}

.btn.btn-secondary:hover {
  background: #f8b810;
  border-color: #f8b810;
}

.btn.btn-white-outline {
  color: var(--primary-color);
  font-weight: 600;
  padding: 12px 30px;
  border-color: #ffffff4d;
  border-radius: 30px;
  border-width: 2px;
  background-color: transparent;
}

.btn.btn-white-outline:hover {
  border-color: var(--primary-color);
}

/* Hero styles */

.hero {
  background: var(--main-color);
  padding: calc(8rem - 30px);
  padding-bottom: 8rem;
}

.hero-txt-content {
  max-width: 85%;
  height: auto;
}

.hero h1 {
  color: var(--primary-color);
  font-size: 54px;
  font-weight: 700;
}

.hero .hero-img-wrap {
  position: relative;
}

.hero p {
  color: #ffffff80;
}

.hero .hero-img-wrap img {
  position: absolute;
  left: 0;
  right: -100px;
  top: -80px;
  z-index: 99;
}

.hero .hero-img-wrap:after {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  background-image: url("dots-light.svg");
  background-size: contain;
  background-repeat: no-repeat;
  right: -100px;
  top: -0px;
  z-index: 9;
}

.hero .hero-img-wrap:after {
  top: -40px;
}

/* Footer style */

footer a {
  color: var(--main-dark);
}
footer a:hover {
  color: #2f2f2f80;
  transition: 0.15s all linear;
  -webkit-transition: 0.15s all linear;
  -moz-transition: 0.15s all linear;
  -ms-transition: 0.15s all linear;
  -o-transition: 0.15s all linear;
}

footer {
  padding: 80px 0;
  background: #ffffff;
}

.footer-newsletter-col {
  margin-bottom: 80px;
}

.footer-social li {
  margin: 2px;
  display: inline-block;
}

.footer-social a {
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  display: inline-block;
  background: #dce5e4;
  color: #3b5d50;
  border-radius: 50%;
  transition: 0.15s all;
  -webkit-transition: 0.15s all;
  -moz-transition: 0.15s all;
  -ms-transition: 0.15s all;
  -o-transition: 0.15s all;
}

.footer-link-wrap li {
  margin-bottom: 10px;
}

.footer-logo {
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #3b5d50;
}

.footer-logo:hover {
  font-size: 32px;
  font-weight: 500;
  text-decoration: none;
  color: #3b5d50;
}

.footer-social a:hover {
  background: #3b5d50;
  color: var(--primary-color);
}

.copyright-border-top {
  border-top: 1px solid #dce5e4;
}

.copyright-credit {
  color: var(--main-color);
  font-weight: 500;
}

.copyright-credit:hover {
  color: var(--main-light);
  text-decoration: underline;
}

.footer-copyright li {
  display: inline-block;
}

@media (min-width: 992px) {
  .text-lg-end {
    text-align: right !important;
  }
}

footer .subscription-form {
  margin-bottom: 40px;
  position: relative;
  z-index: 2;
  margin-top: 100px;
}
@media (min-width: 992px) {
  footer .subscription-form {
    margin-top: 0px;
    margin-bottom: 80px;
  }
}
footer .subscription-form h3 {
  font-size: 18px;
  font-weight: 500;
  color: #3b5d50;
}
.form-control {
  height: 50px;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
}
.form-control:active,
.form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #3b5d50;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
}
.form-control::-webkit-input-placeholder {
  font-size: 14px;
}
.form-control::-moz-placeholder {
  font-size: 14px;
}
.form-control:-ms-input-placeholder {
  font-size: 14px;
}
.form-control:-moz-placeholder {
  font-size: 14px;
}
.footer-sofa img {
  max-width: 380px;
}

.footer-sofa {
  position: absolute;
  top: -200px;
  right: 0;
  z-index: 1;
}

/* Home Product-section text-content-style  */

.section-title {
  color: var(--main-dark);
}

/* Shop styles  */
.product-section {
  padding: 7rem 0 !important;
}

.product-section .product-item .product-image {
  margin-bottom: 30px;
  position: relative;
  top: 0;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

.product-section .product-item:hover .product-image {
  top: -25px;
}

.product-section .product-item .icon-cross {
  width: 35px;
  height: 35px;
  background: var(--main-dark);
  display: inline-block;
  border-radius: 50%;
  line-height: 35px;
  position: absolute;
  bottom: 0;
  transform: translateX(-50%);
  left: 50%;
  transition: 0.3s all ease;
  opacity: 0;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

.product-section .product-item h3 {
  color: var(--main-dark);
  font-size: 16px;
  font-weight: 600;
}

.product-section .product-item strong {
  color: var(--main-dark);
  font-size: 18px;
  font-weight: 800 !important;
}

.product-section .product-item:before {
  content: "";
  background: #dce5e4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  height: 0%;
  border-radius: 10px;
  margin: 0 10px;
  transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
}

.product-section .product-item:hover:before {
  height: 70%;
}

.product-section .product-item {
  text-align: center;
  text-decoration: none;
  display: block;
  position: relative;
  padding-bottom: 50px;
  cursor: pointer;
}

.product-section .product-item:hover .icon-cross {
  opacity: 1;
  bottom: 0;
  margin-bottom: -17.5px;
}

/* Blog style */

.blog-section {
  padding: 7rem 0 12rem 0;
}

.blog-section .post-entry .post-thumbnail {
  display: block;
  margin-bottom: 20px;
}

.blog-section .post-entry .post-thumbnail img {
  border-radius: 20px;
  transition: 0.3s all ease;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.blog-section .post-entry:hover .post-thumbnail img {
  opacity: 0.7;
}

.blog-section .post-entry .post-content-entry {
  padding-right: 15px;
  padding-left: 15px;
}

.blog-section .post-entry .post-content-entry h3 a {
  color: var(--main-dark);
  font-size: 16px;
  font-weight: 600;
}

.blog-section .post-entry .post-content-entry .meta a {
  color: var(--main-dark);
  font-weight: 600;
}

/* homePage blog dadicated style  */

.recent-blog-title-wrap h2 {
  color: var(--main-dark);
}

.text-end {
  text-align: end;
}

.recent-blog-title-wrap a {
  color: var(--main-dark);
  font-weight: 600;
  text-decoration: underline;
}

.recent-blog-title-wrap a:hover {
  text-decoration: none;
}

/* Testimonial Slider style  */

.testimonial-slide {
  padding: 5rem 0 12rem 0 !important;
}

.testimonial-heading {
  color: var(--main-dark);
}

.testimonial-author-img-wrap img {
  max-width: 80px;
  border-radius: 50%;
}

.testimonial-author-img-wrap {
  margin-bottom: 20px;
}

.no-relative {
  position: static !important;
}

.author-name {
  font-size: 14px;
}

.author-description h3 {
  color: var(--main-dark);
  font-size: 14px;
  line-height: 0;
  margin: 0;
  padding: 0;
}

.author-description .author-designation {
  font-size: 10px;
  margin: 0;
  padding: 0;
  line-height: 0;
}

@media (min-width: 768px) {
  .testimonial-slide .carousel-inner blockquote {
    line-height: 32px;
    font-size: 18px;
  }
}

@media (min-width: 768px) {
  .testimonial-slide .carousel-inner blockquote {
    line-height: 32px;
    font-size: 18px;
  }
}

.testimonial-slide .carousel .carousel-indicators li.active {
  background: var(--main-color);
  width: 5px;
  height: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-clip: padding-box;
  padding: 5px 3px;
  border-radius: 50%;
}
.testimonial-slide .carousel .carousel-indicators li {
  background: var(--main-light);
  width: 5px;
  height: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-clip: padding-box;
  padding: 5px 3px;
  border-radius: 50%;
}

.custom-circle-controls i {
  background: #3b5d501a;
  color: var(--main-color);
  width: 58px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-circle-controls i:hover {
  background: var(--main-color);
  color: var(--primary-color);
  transition: 0.3s all ease;
}

/* Contact Us page style  */

.contact-form-section {
  padding: 7rem 0;
}
.contact-upper-infos-wrap i {
  color: var(--primary-color);
  background: var(--main-color);
  font-size: 21px;
  width: 50px !important;
  aspect-ratio: 1;
  border-radius: 10px;
  line-height: 50px;
  text-align: center;
}

.contact-form-upper-infos-iconText span {
  width: calc(100% - 50px) !important;
}

.contact-form-upper-infos-iconText {
  display: flex;
  align-items: center;
}

.contact-upper-infos-wrap {
  display: flex;
  align-items: baseline;
}

.contact-upper-infos-wrap .comp-info p {
  line-height: 1.5;
}

.contact-form-section input {
  height: 50px;
}

.contact-form-section label {
  padding: 0;
  margin: 0;
}

.contact-form-section .form-group {
  padding: 0;
  margin: 0;
}

/* Cart page style  */

.cart-quantity-btn {
  border: none !important;
  font-size: 16px;
  font-weight: bold;
  background: transparent !important;
  margin: 0 5px !important;
}

input.form-control.quantity-field::-webkit-outer-spin-button,
input.form-control.quantity-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.table thead th {
  border-bottom: 2px solid var(--main-dark);
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-bottom: 1px solid #dee2e6;
  border-top: none !important;
}

.table thead th {
  text-align: center;
  vertical-align: middle;
  color: #000000cc;
  font-size: 18px;
}
.cart-page-product-listing {
  padding: 7rem 0 12rem 0 !important;
}

.quantity-field {
  max-width: 50px;
}

.btn-cart-remove-cross i {
  color: var(--main-dark);
  font-size: calc(100% * 1.5);
}

.cart-product-listing-image {
  text-align: start;
}
.cart-page-product-listing-product-thumbnail {
  width: 200px;
}

.cart-total-text {
  color: var(--main-dark);
}

.cart-total-amount {
  font-weight: bold;
  color: var(--main-dark);
}

/* Services Style  */

.feature h3 {
  font-size: 14px;
  color: var(--main-dark);
}

.services-listing-section {
  padding: 7rem 0;
}

.services-feature-icon {
  margin-bottom: 20px;
  position: relative;
  display: inline-block;
}

.services-feature-icon:before {
  content: "";
  position: absolute;
  width: 33px;
  aspect-ratio: 1;
  background: #3b5d5033;
  right: -8px;
  bottom: 0;
  border-radius: 50%;
}

/* Why choose us seciton  */

.why-choose-us-section {
  padding: 7rem 0;
}

.why-choose-us-section-title {
  color: var(--main-dark);
}

.why-choose-us-image-cols .relative img {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.why-choose-us-image-cols .relative:before {
  position: absolute;
  content: "";
  width: 255px;
  height: 217px;
  background-image: url("dots-yellow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform: translate(-40%, -40%);
  -ms-transform: translate(-40%, -40%);
  transform: translate(-40%, -40%);
  z-index: -1;
}


/* Team Syles */

.team {
  padding: 7rem 0;
}

.member-name {
  color: var(--main-dark);
  text-decoration: underline;
  cursor: pointer;
}
.member-name:hover {
  text-decoration: none;
  color: var(--main-dark);
  cursor: pointer;
}

.learn-more-link {
  color: var(--main-dark);
  text-decoration: underline;
  font-weight: 700;
  cursor: pointer;
}


.learn-more-link:a {
  color: var(--main-dark) !important;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;  
}


/* Home-page explore (grid) section style */


.explore-sec {
  padding: 7rem 0;
}

.grid-img-col:before {
  content: "";
  position: absolute;
  width: 255px;
  height: 217px;
  z-index: -1;
  background-image: url("dots-green.svg");
  transform: translate(-40%, -40%);
}

.img-grid-box-wrap {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-columns: repeat(15, 1fr);
  column-gap: 20px;
  row-gap: 20px;
}
.grid-item-wrap> img{
  border-radius: 20px;
  max-width: 100%;

}


.grid-item-1 {
  grid-column: 1/11;
  grid-row: 1/16
}

.grid-item-2 {
  grid-column: 11/16;
  grid-row: 1/6;
}

.grid-item-3 {
  grid-column: 8/16;
  grid-row: 6/16
}

.custom-disc-style li {
  width: calc(50% - 20px);
  display: inline-block;
  margin: 10px 0px 10px 20px;
  padding: 0;
}

.custom-disc-style li {
  width: calc(50% - 40px);
  display: inline-block;
  padding: 0;
  margin: 10px 0px 10px 20px;
}

.custom-disc-style li:before {
  content: "";
  border: 2px solid var(--main-color);
  border-radius: 50%;
  aspect-ratio: 1;
  width: 8px;
  position: absolute;
  transform: translate(-20px, 10px);
}